:root {
    --primary: #00adb5;
    --secondary: #393e46;
    --dark: #222831;
    --light: #eeeeee;
}
/* Utilidades */
body {
    font-family: 'Raleway',sans-serif;
    font-weight: 300;

}
.container {
    width: 80%;
}

/* Componentes */
.card {
    border: 5px solid var(--primary);
    padding: 15px;
}
.card-text {
    letter-spacing: 2px;
}

/* Espacidados */
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.mx-1{
    margin-right: 1rem;
    margin-left: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}

/* Fondo Colores */
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-light {
    background-color: var(--light);
}
.bg-dark {
    background-color: var(--dark);
}

/* Textos Colores */
.text-white{
    color: white;
}
.text-dark {
    color: var(--dark);
}
.text-secondary {
    color: var(--secondary);
}


/* Flexbox */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-grow {
    flex-grow: 1;
}
.d-flex > * {
    flex-basis: 400px;
    flex-grow: 1;
}

/* Nuevo */
/* https: //developer.mozilla.org/en-US/docs/Web/CSS/gap */
.gap-2 {
    gap: 2rem;
}